extends common/layout
block content
    div.wrap
        div.segment.fn-clear
            div.header
                div.step.disabled #{__("init")}#{__("database")}
                div.step.active #{__("init")} Noty
            label.label #{__("title")}
                input#title.input(value="B3log Noty")
            label.label #{__("subTitle")}
                input#subTitle.input(value="#{__('b3log-noty-des')}")
            label.label #{__("userName")}
                input#userName.input(value="Admin")
            label.label #{__("password")}
                input#password.input(value="noty")
            label.label #{__("email")}
                input#email.input(value="")
            button.button.fn-right.green #{__("init")}
block scripts
    script(src='/static/javascripts/lib/jquery-2.1.0.min.js')
    script(src='/static/javascripts/init.js')