extends common/layout
block content
    div.wrap
        div.segment.fn-clear
            div.header
                div.step.active #{__("init")}#{__("database")}
                div.step.disabled #{__("init")} Noty
            label.label #{__("hostname")}
                input#hostname.input(value="localhost")
            label.label #{__("port")}
                input#port.input(value="27017")
            label.label #{__("userName")}
                input#username.input(value="")
            label.label #{__("password")}
                input#password.input(value="")
            label.label #{__("database")}
                input#database.input(value="b3log-noty")
            button.button.fn-right.orange #{ __("nextStep")}

block scripts
    script(src='/static/javascripts/lib/jquery-2.1.0.min.js')
    script(src='/static/javascripts/init.js')