ul.li
    li
        if (consoleType==="index")
            a.current(href="#") #{__("consoleIndex")}
        else
            a(href="/console") #{__("consoleIndex")}
    li
        if (consoleType==="settings")
            a.current(href="#") #{__("settings")}
        else
            a(href="/console/settings/prefs") #{__("settings")}
    li
        if (consoleType==="tag-forge")
            a.current(href="#") #{__("tagForge")}
        else
            a(href="/console/tag-forge") #{__("tagForge")}
    li
        if (consoleType==="new-post")
            a.current(href="#") #{__("newPost")}
        else
            a(href="/console/posts/new") #{__("newPost")}